body {
  margin: 20px;
  background: #ad9cad;
}

h1 {
  text-align: center;
  font-family: "Lucida Console", monospace;
  letter-spacing: 15px;
  color: #5e3d5e;
  font-size: 65px;
}

button{
  margin-left:10px;
  background-color:#d8cad9;
  vertical-align:center;
  height: 48px;
  font-size : medium;
  border-radius: 19px;
  width:100px;
  padding: 10px 10px 5px 10px;
  border:4px solid #544d54;
  cursor:pointer;
}

.pStyle {
  text-align: center;
  font-family: "Lucida Console", monospace;
  letter-spacing: 6px;
  color: #5e3d5e;
  font-size: 25px;
}

.inputStyle{
  margin-left:40%;
  margin-bottom: 50px;
  background-color:#d8cad9;
  vertical-align:center;
  height: 25px;
  font-size: 15px;
  font-family: "Lucida Console", monospace;
  letter-spacing: 3px;
  border-radius: 19px;
  width:320px;
  padding: 10px 10px 5px 10px;
  border:4px solid #544d54;
}

.descriptionStyle{
  vertical-align:center;
  text-align: center;
  color: #544d54;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.emojiStyle{
  text-align: center;
  font-family: Lucida Console, monospace;
  letter-spacing: 3px;
  color: #544d54;
  font-size : medium;
}
.cell{
  height: 150px;
  width: 230px;
  background-color:#d8cad9;
  border:2px solid #544d54;
  border-radius: 19px;
  padding:5px;

}

.container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap:1em;
}

@media(min-width:600px){
  .container{
    width:70%;
    margin-inline:auto;
  }
}
